
<!doctype html>
<html lang="en" class="no-js" manifest="demo_html.appcache">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700|Merriweather:400italic,400' rel='stylesheet' type='text/css'>


	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.9/toaster.min.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="css/style.css"> <!-- Resource style -->
	<script src="js/modernizr.js"></script> <!-- Modernizr -->

	<title>If This Then That</title>
</head>
<body ng-app="fetchModule">
	<toaster-container></toaster-container>
	<div class="projects-container" >

		<ul>

			<li class="cd-single-project" ng-controller="fcbkCtrl">
				<div class="cd-title">
					<h2>Facebook</h2>
					<p>Derniere Publication</p>
				</div> <!-- .cd-title -->

				<div class="cd-project-info">
					<div id="last">Dernières Publications</div>
					<div class="conteneur_image" ng-repeat="statut in statutFeed">
						<div class="logo">
							<img src="img/logo.png">
						</div>
						<div class="nom">
						<p><a href="https://www.facebook.com/quantacomputing">{{statut.name}}</a></p>
						</div>
						<div class="date">
							<p>{{statut.date | date:'medium'}}</p>
						</div>
						<div class="message">
							<p>
								{{statut.message}}<br>
							</p>
						</div>
						<a href="{{ statut.link }}">
							<div class="image">
								<p>
									<img src="{{statut.picture}}" >
								</p>
							</div>
						</a>
						<div class="like">
							<img src="img/like.png">
						</div>
						<p>{{statut.likes}}</p>
					</div>
					<div id="facebookFooter">
					</div>

				</div> <!-- .cd-project-info -->
			</li>

            <li class="cd-single-project" ng-controller="twitterCtrl">
				<div class="cd-title">
					<h2>Twitter</h2>
					<p>Dernier Tweet</p>
				</div> <!-- .cd-title -->

				<div class="cd-project-info">
					<div id="twitterContent">
				        <div class="twitterHeader">
				            <h3>Derniers Tweets</h3>
				        </div>
				        <div class="twitterContents" ng-repeat="tweet in tweetList">
				        	<!-- <button ng-click="pop()">Show a Toaster</button> -->
				            <img src="{{ tweet.profile_image }}" alt="">
				            <p class="poster"><span>{{ tweet.username }}</span> <span>{{ tweet.screenname }}</span><br>
				                <span class="twitterText">{{ tweet.tweet }}</span>
				            </p>
				            <h1>{{ message }}</h1>
				        </div>
				        <!--div class="twitterHeaderSecond">
				            <h3>Tweets precedents</h3-->
				        <div id="twitterFooter">
				        </div>
				    </div>
				</div> <!-- .cd-project-info -->
			</li>

			<li class="cd-single-project" ng-controller="instaCtrl">

                    <div class="cd-title">
                        <h2>Instagram</h2>
                        <p>Derniere Publication</p>
                    </div> <!-- .cd-title -->


                    <div class="cd-project-info">
                        <div id="instagramContent">
                            <div class="instagramHeader">
                                <h3>Dernières Publications</h3>
                            </div>
                            <div class="instagramContents"  ng-repeat="photo in instaFeed">
                                <img src="{{ photo.profile_picture }}" alt="">
                                <p class="poster"><span>{{ photo.name }}</span> <span>{{ photo.pseudo }}</span><br>
                                </p>
                                 <img src="{{ photo.picture }}" class="instaImg">
                                 <p> {{ photo.comment }}</p>
                            </div>
                            <div id="instagramFooter">

                            </div>

                        </div>

                    </div> <!-- .cd-project-info -->

                </li>
		</ul>
		<a href="#0" class="cd-close">Close</a>
		<a href="#0" class="cd-scroll">Scroll</a>
	</div> <!-- .project-container -->
<footer>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="js/jquery-2.1.1.js"></script>
	<script src="js/controller.js"></script>
	<script src="js/main.js"></script> <!-- Resource jQuery -->
	<script src="https://code.angularjs.org/1.2.0/angular-animate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/0.4.9/toaster.min.js"></script>
</footer>
</body>
</html>
