/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "PT Sans", sans-serif;
    color: #ffffff;
    background-color: #101524;
}

a {
    color: #9e1c51;
    text-decoration: none;
}

/* --------------------------------

Main Components

-------------------------------- */
.projects-container {
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
.projects-container::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'mobile';
    display: none;
}
.projects-container .cd-single-project {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 33.33%;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
    /* on mobile -  move items outside the viewport */
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
}
.projects-container .cd-single-project:first-child{
    background:#3b5999;
}
.projects-container .cd-single-project:nth-child(2){
    background:#8ec1da;
}
.projects-container .cd-single-project:last-child{
    background:#2b6286;
}

.projects-container .cd-single-project::after {
    /* background image */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 33.33vh;
    width: 100%;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-transition: opacity 0.5s, height 0.4s;
    -moz-transition: opacity 0.5s, height 0.4s;
    transition: opacity 0.5s, height 0.4s;
}
.projects-container .cd-single-project::before {
    /* never visible - this is used in jQuery to detect if the background image has been loaded  */
    content: 'img/img-1-small.jpg';
    display: none;
}
.projects-container .cd-single-project:nth-of-type(2) {
    top: 33.33vh;
}
.projects-container .cd-single-project:nth-of-type(2)::after {
    background-image: none;
}
.projects-container .cd-single-project:nth-of-type(2)::before {
    content: 'img/img-2-small.jpg';
}
.projects-container .cd-single-project:nth-of-type(3) {
    top: 66.66vh;
}
.projects-container .cd-single-project:nth-of-type(3)::after {
    background-image: none;
}
.projects-container .cd-single-project:nth-of-type(3)::before {
    content: 'img/img-3-small.jpg';
}
.projects-container .cd-single-project.is-loaded {
    /* move items in the viewport when background images have been loaded */
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
.projects-container .cd-single-project.is-full-width {
    /* selected item */
    top: 0;
    height: auto;
    z-index: 1;
    cursor: auto;
    -webkit-transition: z-index 0s 0s, top 0.4s 0s;
    -moz-transition: z-index 0s 0s, top 0.4s 0s;
    transition: z-index 0s 0s, top 0.4s 0s;
}
.projects-container .cd-single-project.is-full-width::after {
    height: 100vh;
}
@media only screen and (min-width: 1024px) {
    .projects-container::before {
        /* never visible - this is used in jQuery to check the current MQ */
        content: 'desktop';
    }
    .projects-container .cd-single-project {
        width: 33.33vw;
        height: 100%;
        opacity: 0;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
        -webkit-transition: width 0s;
        -moz-transition: width 0s;
        transition: width 0s;
    }
    .projects-container .cd-single-project:first-of-type::before {
        content: 'img/img-1-large.jpg';
    }
    .projects-container .cd-single-project:first-of-type::after {
        background-image: url("../img/img-1-large.jpg");
    }
    .projects-container .cd-single-project:nth-of-type(2) {
        top: 0;
        left: 33.33vw;
    }
    .projects-container .cd-single-project:nth-of-type(2)::before {
        content: 'img/img-2-large.jpg';
    }
    .projects-container .cd-single-project:nth-of-type(2)::after {
        background-image: url("../img/img-2-large.jpg");
    }
    .projects-container .cd-single-project:nth-of-type(3) {
        top: 0;
        left: 66.66vw;
    }
    .projects-container .cd-single-project:nth-of-type(3)::before {
        content: 'img/img-3-large.jpg';
    }
    .projects-container .cd-single-project:nth-of-type(3)::after {
        background-image: url("../img/img-3-large.jpg");
    }

    .projects-container .cd-single-project::after {
        height: 100vh;
        width: 100%;
        opacity: 0;
    }
    .projects-container .cd-single-project.is-loaded {
        /* show items when background images have been loaded */
        opacity: 1;
    }
    .projects-container .cd-single-project.is-loaded::after {
        opacity: 1;
    }
    .projects-container .cd-single-project.is-full-width {
        /* selected item */
        left: 0vw;
        width: 100vw;
        -webkit-transition: width 0.4s 0s, z-index 0s 0s, left 0.4s 0s;
        -moz-transition: width 0.4s 0s, z-index 0s 0s, left 0.4s 0s;
        transition: width 0.4s 0s, z-index 0s 0s, left 0.4s 0s;
    }
}
@media only screen and (min-width: 1170px) {
    .projects-container .cd-single-project::after {
        background-attachment: fixed;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-transition: -webkit-transform 0.8s, opacity 0.5s;
        -moz-transition: -moz-transform 0.8s, opacity 0.5s;
        transition: transform 0.8s, opacity 0.5s;
    }
    .projects-container .cd-single-project.is-loaded::after {
        opacity: 0;
    }
    .no-touch .projects-container .cd-single-project:hover::after, .projects-container .cd-single-project.is-full-width.is-loaded::after {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }
}

.cd-title {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 16.5vh;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}
.is-full-width .cd-title {
    top: 50vh;
    -webkit-transition: opacity 0s, top 0.4s;
    -moz-transition: opacity 0s, top 0.4s;
    transition: opacity 0s, top 0.4s;
}
.cd-title > * {
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.cd-title h2 {
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: 700;
    color:WHITE;
}
.cd-title p {
    font-size: 1.4rem;
    font-family: "Merriweather", serif;
    font-style: italic;
    line-height: 1.2;
    padding: .4em 2em;
    display: none;
    opacity: .6;
}
@media only screen and (min-width: 1024px) {
    .cd-title {
        top: 50vh;
        width: 33.33vw;
        opacity: 0;
        -webkit-transform: translateY(-50%) translateX(-20px);
        -moz-transform: translateY(-50%) translateX(-20px);
        -ms-transform: translateY(-50%) translateX(-20px);
        -o-transform: translateY(-50%) translateX(-20px);
        transform: translateY(-50%) translateX(-20px);
    }
    .is-loaded .cd-title {
        opacity: 1;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: -webkit-transform 0.6s, opacity 0.6s, left 0.4s;
        -moz-transition: -moz-transform 0.6s, opacity 0.6s, left 0.4s;
        transition: transform 0.6s, opacity 0.6s, left 0.4s;
    }
    .is-loaded.is-full-width .cd-title {
        left: 33.33vw;
        -webkit-transition: -webkit-transform 0.6s, opacity 0s, left 0.4s;
        -moz-transition: -moz-transform 0.6s, opacity 0s, left 0.4s;
        transition: transform 0.6s, opacity 0s, left 0.4s;
    }
    .cd-title p {
        display: block;
    }
}
@media only screen and (min-width: 1170px) {
    .cd-title h2 {
        font-size: 3.6rem;
    }
}

.cd-project-info {
    clear: both;
    visibility: hidden;
    opacity: 0;
    margin-top: 100vh;
    padding: 4em 0;
    cursor: auto;
    background-color: #ffffff;
    color: #3f538e;
    -webkit-transition: opacity 0.4s 0s, visibility 0s 0.4s;
    -moz-transition: opacity 0.4s 0s, visibility 0s 0.4s;
    transition: opacity 0.4s 0s, visibility 0s 0.4s;
}
.is-full-width .cd-project-info {
    visibility: visible;
    opacity: 1;
}
.cd-project-info p {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    line-height: 2;
}
@media only screen and (min-width: 1024px) {
    .cd-project-info {
        position: relative;
        z-index: 1;
    }
}

.projects-container .cd-close,
.projects-container .cd-scroll {
    display: block;
    z-index: 1;
    width: 44px;
    height: 44px;
    /* image replacement */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    visibility: hidden;
    -webkit-transition: -webkit-transform 1s 0s, visibility 0s 1s;
    -moz-transition: -moz-transform 1s 0s, visibility 0s 1s;
    transition: transform 1s 0s, visibility 0s 1s;
}

.projects-container .cd-close {
    position: fixed;
    top: 30px;
    right: 5%;
    background: url("../img/cd-icon-close-mobile.svg") no-repeat center center;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
@media only screen and (min-width: 1170px) {
    .projects-container .cd-close {
        background-image: url("../img/cd-icon-close-desktop.svg");
    }
}

.projects-container .cd-scroll {
    position: absolute;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%) scale(0);
    -moz-transform: translateX(-50%) scale(0);
    -ms-transform: translateX(-50%) scale(0);
    -o-transform: translateX(-50%) scale(0);
    transform: translateX(-50%) scale(0);
    background: url("../img/cd-icon-arrow-mobile.svg") no-repeat center center;
}
@media only screen and (min-width: 1170px) {
    .projects-container .cd-scroll {
        background-image: url("../img/cd-icon-arrow-desktop.svg");
    }
}

.project-is-open .cd-close,
.project-is-open .cd-scroll {
    visibility: visible;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.4s 0s, visibility 0s 0s;
    -moz-transition: -moz-transform 0.4s 0s, visibility 0s 0s;
    transition: transform 0.4s 0s, visibility 0s 0s;
}

.project-is-open .cd-scroll {
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
    -webkit-animation: cd-translate 1.2s 0.4s;
    -moz-animation: cd-translate 1.2s 0.4s;
    animation: cd-translate 1.2s 0.4s;
    -webkit-animation-iteration-count: 2;
    -moz-animation-iteration-count: 2;
    animation-iteration-count: 2;
}

.no-touch .project-is-open .cd-close:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.no-touch .project-is-open .cd-scroll:hover {
    -webkit-transform: translateX(-50%) scale(1.2);
    -moz-transform: translateX(-50%) scale(1.2);
    -ms-transform: translateX(-50%) scale(1.2);
    -o-transform: translateX(-50%) scale(1.2);
    transform: translateX(-50%) scale(1.2);
}

@-webkit-keyframes cd-translate {
    0% {
        -webkit-transform: translateX(-50%) scale(1);
    }
    50% {
        -webkit-transform: translateY(10px) translateX(-50%) scale(1);
    }
    100% {
        -webkit-transform: translateX(-50%) scale(1);
    }
}
@-moz-keyframes cd-translate {
    0% {
        -moz-transform: translateX(-50%) scale(1);
    }
    50% {
        -moz-transform: translateY(10px) translateX(-50%) scale(1);
    }
    100% {
        -moz-transform: translateX(-50%) scale(1);
    }
}
@keyframes cd-translate {
    0% {
        -webkit-transform: translateX(-50%) scale(1);
        -moz-transform: translateX(-50%) scale(1);
        -ms-transform: translateX(-50%) scale(1);
        -o-transform: translateX(-50%) scale(1);
        transform: translateX(-50%) scale(1);
    }
    50% {
        -webkit-transform: translateY(10px) translateX(-50%) scale(1);
        -moz-transform: translateY(10px) translateX(-50%) scale(1);
        -ms-transform: translateY(10px) translateX(-50%) scale(1);
        -o-transform: translateY(10px) translateX(-50%) scale(1);
        transform: translateY(10px) translateX(-50%) scale(1);
    }
    100% {
        -webkit-transform: translateX(-50%) scale(1);
        -moz-transform: translateX(-50%) scale(1);
        -ms-transform: translateX(-50%) scale(1);
        -o-transform: translateX(-50%) scale(1);
        transform: translateX(-50%) scale(1);
    }
}

.cd-single-project:first-child .cd-project-info{
    background:#E9EAED;
}
.cd-single-project:last-child .cd-project-info{
    background:#F5F6F8;
}

.cd-single-project:nth-child(2) .cd-project-info{
    background:#C0DEED url("../img/twitterBackground.png") repeat-x top left;
}

/*
 *  SOCIAL NETWORK DISPLAY: Twitter
 */
#twitterContent{
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

.twitterHeader{
    width:100%;
    display:block;
    height:45px;
    background:#fff;
    border:1px solid rgba(0, 132, 180, 0.5);
}
.twitterHeader:first-child{
    border-radius:5px 5px 0 0;
}
.twitterHeaderSecond{
    width:100%;
    display:block;
    height:45px;
    background:#fff;
    border:1px solid rgba(0, 132, 180, 0.5);
    border-top:none;
}

.twitterHeader h3, .twitterHeaderSecond h3{
    color: #292f33;
    cursor: default;
    font-weight: 500;
    text-decoration: none;
    font-size:18px;
    padding: 15px 15px 12px;
    font-family: Arial,sans-serif;
}
.twitterContents{
    width:100%;
    min-height:130px!important;
    overflow: auto;
    display:block;
    min-height:65px;
    background:#fff;
    border:1px solid rgba(0, 132, 180, 0.5);
    border-top:none;
    padding:10px;
    box-sizing: border-box;
}
.twitterContents img{
    float:left;
    margin-right:20px;
}
.twitterContents p.poster{
    color:red;
    width: inherit;
    max-width: inherit;
    margin: 0;
    line-height:0;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    color: #292f33;
    text-align:justify;
}

.twitterContents p.poster span:first-child{
    font-size: 14px;
    font-weight: bold;
    color: #292f33;
}

.twitterContents p.poster span:nth-child(2){
    color: #8899a6;
    font-size: 13px;
    font-weight:normal;
}

#twitterFooter{
    width:100%;
    display:block;
    height:45px;
    background:#fff url("../img/twitterFooter.png") no-repeat center center;
    border:1px solid rgba(0, 132, 180, 0.5);
    border-top:none;
    border-radius: 0 0 5px 5px;
}

/*
 *  SOCIAL NETWORK DISPLAY: Facebook
 */

.conteneur_image
{
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
    background-color:white;
    letter-spacing:.1em;
    width: 90%;
    max-width: 800px;
    margin: 15px auto;
    padding: 10px;
}

.nom
{
    font-weight: 600;
    font-family: Helvetica, sans-serif;
}
.image
{
    border: 1px solid rgba(0, 0, 0, .1);
    width: 90%;
    margin: 0 auto;
}

.message
{
    color: black;
    font-family: arial,sans-serif;
}


.date
{
    color: #9197a3;
    font-family: Helvetica,sans-serif;
}

.like
{
    margin-left: 40px;
    float: left;
    margin-top: 6px;
    margin-right: 5px;
}

.logo
{
    margin-left: 40px;
    float: left;
    margin-top: 8px;
    margin-right: 5px;
}

#facebookFooter
{
    height:45px;
    background:#fff url("../img/logo_facebook.png") no-repeat center center;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
    max-width: 800px;
    margin: 15px auto;
}

#last
{
    height:45px;
    background:#fff no-repeat center center;
    max-width: 800px;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
    margin: 15px auto;
    color: #292f33;
    cursor: default;
    font-weight: 500;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 15px 12px;
    /*font-family: Helvetica,sans-serif;*/
}

/*
 *  SOCIAL NETWORK DISPLAY: Instagram
 */
#instagramContent{
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}

.instagramHeader{
    width:100%;
    display:block;
    height:45px;
    background:#e0e1e2;
    /*border:1px solid rgba(0, 132, 180, 0.5); */
}
/*.instagramHeader:first-child{
    border-radius:5px 5px 0 0;
}*/
.instagramHeaderSecond{
    width:100%;
    display:block;
    height:45px;
    background:#fff;
    border:1px solid rgba(0, 132, 180, 0.5);
    border-top:none;
}

.instagramHeader h3, .instagramHeaderSecond h3{
    box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.26);
    color: #292f33;
    cursor: default;
    font-weight: 500;
    text-decoration: none;
    font-size:18px;
    padding: 15px 15px 12px;
    font-family: Arial,sans-serif;
}
.instagramContents{
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.26);
    width:100%;
    display:block;
    min-height:65px;
    background:#e0e1e2;
    /*border:1px solid rgba(0,0,0,.1);*/
    border-top:none;
    padding:10px;
    box-sizing: border-box;
}
.instagramContents img:first-child{
    float:left;
    margin-right:20px;
    width: 15%;
    margin-top: 35px;
}
.instagramContents .instaImg{
    box-shadow: 0px 3px 7px 0;
    width: 70%;
}
.instagramContents p.poster{
    color:red;
    width: inherit;
    max-width: inherit;
    margin: 0;
    line-height:0;
    font-size: 26px;
    font-weight: 300;
    line-height: 32px;
    color: #292f33;
    text-align:justify;
}

.instagramContents p.poster span:first-child{
    font-size: 14px;
    font-weight: bold;
    color: #292f33;
}

.instagramContents p.poster span:nth-child(2){
    color: #8899a6;
    font-size: 13px;
    font-weight:normal;
}

#instagramFooter{
    width:100%;
    display:block;
    height:45px;
    background:#e0e1e2 url("../img/instagramFooter.png") no-repeat center center;
    /*border:1px solid rgba(0, 132, 180, 0.5); */
    box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.26);
    border-top:none;
    /*border-radius: 0 5px 5px rgba(0, 0, 0, 0.26);*/
}


growl-notifications {
    position: fixed;
    top: 150px;
    right: 10px;
    z-index: 1000;
}

growl-notifications growl-notification {
    background: rgba(0,0,0,0.6);
    color: white;
    padding: 15px 30px;
    width: 200px;
    display: block;
    border-radius: 5px;
    margin-top: 15px;
}
